.container {
    text-align: center;
    padding: 20px;
  }
  
  .placeholderGraphic {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    border: 1px dashed #ccc;
    /* Add more styles for the placeholder graphic */
  }
  
  .fileInput {
    margin: 10px;
  }
  
 .createButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .createButtonDisabled {
    background-color: #ccc;
  }
  
  .download-link {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background: #0070f3;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
